.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat_header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo > p {
  color: gray;
}

.chat_body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  overflow: scroll;
  padding-bottom: 0;
}

.chat_body::-webkit-scrollbar {
  display: none;
}

.chat_bodyMessage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.chat_bodyReceived {
  margin-left: auto;
  background-color: #dcf8c6;
  margin-top: 35px;
}

.chat_bodyName {
  position: absolute;
  top: -20px;
  font-size: small;
  font-weight: 800;
}

.chat_bodyTime {
  margin-left: 20px;
  font-size: xx-small;
  position: relative;
  bottom: -10px;
  /* align-items: left; */
  /* display: block; */
}

.chats_footer {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.chats_footer > form {
  flex: 1;
  display: flex;
}

.chats_footer > form > input {
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: 0;
  padding: 10px;
}

.chats_footer > form > button {
  display: none;
}
