.login {
  background: linear-gradient(180deg, #fbc334 30%, #fae194 0%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_body {
  height: 70vh;
  width: 80vw;
  background-color: rgb(239, 239, 239);
  display: flex;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.login_bodyRight {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;

  flex: 0.6;
}

.login_bodyRight > h1 {
  padding-bottom: 30px;
}

.login_bodyRight > p {
  padding-bottom: 10px;
  margin-left: 30px;
}
.login_bodyLeft {
  flex: 0.4;
  border-left: 1px solid lightgray;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login_bodyLeft > h1 {
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group input {
  padding: 10px;
  border-radius: 15px;
  width: 400px;
  border: 1px solid gray;
}

.form-group > button {
  width: 300px;
  padding: 10px;
  color: #fff;
  border-radius: 15px;
  background-color: #000;
  cursor: pointer;
}

.registerButton {
  padding: 5px;
  border: none;
  cursor: pointer;
}
span {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .login_body {
    display: flex;
    flex-direction: column;
  }
  .login_bodyRight {
    border-bottom: 1px solid gray;
  }
  .form-group input {
    width: 90%;
  }
}
